{
  "plugins": [
    [
      "inline-import",
      {
        "extensions": [
          ".css"
        ]
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "lib",
        "style": true
      }
    ],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ],
  "presets": [
    "@babel/preset-typescript",
    "next/babel"
  ],
  "ignore": []
}
