@import '../../assets/antd-custom';

.logo {
  font-size: 30px;
  font-weight: bold;

  float: left;

  padding-right: 20px;

  color: @white;
}

.header {
  z-index: 1;

  box-shadow: @shadow-1-down;
}

.content {
  display: flex;
  align-self: center;
  flex-direction: column;

  width: 80%;
  margin: auto;
  padding-top: 40px;
  padding-right: 16px;
  padding-left: 16px;

  background-color: @component-background;
}
